@import url("https://fonts.googleapis.com/css?family=Pirata+One|Bilbo+Swash+Caps&display=swap");

@font-face {
  font-family: Morris;
  src: url(https://cdn.statically.io/gh/EmmesCodes/Tipografias/dae9f5bb/MorrisInitials.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/witewall_3.png");
  cursor: url("assets/kisspng-quill-paper-inkwell-pen-write-5ac7b0020c7587.9380702915230361620511\ \(1\).png"),
    auto;
}

main {
  max-width: 1400px;
  margin: 0 auto;
}

.pergamino {
  position: absolute;
  width: 80%;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 40px auto;
  padding: 50px 0;
  box-shadow: 0 0 125px #8f5922 inset;
  background: #fffef0;
  filter: url(#wavy2);
  background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/45degreee_fabric.png");
}

.container {
  padding: 60px 30px;
  position: relative;
}

.container__titulo {
  text-align: center;
  padding: 50px;
  font-size: 90px;
  font-family: Pirata One, sans-serif;
  text-align: center;
  color: rgba(0, 0, 0, 0.743);
}

.advertencia {
  text-align: center;
  font-family: Pirata One, sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  color: #0000008c;
  margin: 10px auto;
}

.container__inputs {
  padding: 10px 50px;
  display: flex;
  justify-content: space-around;
}

.encriptar,
.desencriptar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.copiar {
  padding-left: 40px;
}

.copiar p {
  font-family: "Bilbo Swash Caps", cursive;
  font-size: 39px;
  font-weight: 300;
  color: #000000b4;
  margin: 0;
  margin-bottom: 25px;
}

.copiar__titulo {
  font-family: Pirata One, sans-serif;
  font-size: 45px;
  font-weight: 300;
  color: #000000b2;
  padding: 0;
  margin: 50px 0 10px 0;
}

textarea {
  border: none;
  outline: none;
  border-radius: 7px;
  border: 3px solid #8f5922;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.17), inset 0 0 125px #fffef0;
  padding: 15px 10px;
  width: 120%;
  height: 400px;
  font-size: 41px;
  color: #7f3300;
  font-family: "Bilbo Swash Caps", cursive;
  cursor: inherit;
  letter-spacing: 2px;
  resize: none;
}

button {
  border: none;
  outline: none;
  display: inline-block;
  width: 300px;
  margin: auto;
  padding: 15px 10px;
  font-size: 50px;
  font-family: "Bilbo Swash Caps", cursive;
  background-color: #fcfbf5;
  cursor: pointer;
  font-weight: 600;
  border: 5px dashed #f00;
}
